__pycache__/
*.pyc
.env
instance/*.db
storage/camera/*
storage/processed/*
storage/exports/*
!storage/camera/.gitkeep
!storage/processed/.gitkeep
!storage/exports/.gitkeep
models/fish_detection/*.pt
models/fish_detection/*_openvino_model/
.venv/
venv/
*.log
